<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2010 Denis Solonenko.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Denis Solonenko - initial API and implementations
      Emmanuel Florent - port to Android API 11+
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowzr" android:versionName="1.6.8u33" android:versionCode="184"
    android:installLocation="internalOnly">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:resizeable="true"
            android:anyDensity="true"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<permission android:name="android.permission.STATUS_BAR_SERVICE" android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />    
	<permission android:name="com.flowzr.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.flowzr.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>


    <application android:theme="@style/Theme.Financisto"
            android:icon="@drawable/icon" android:label="@string/app_name"
		    android:description="@string/app_description">
		
		<uses-library android:name="com.google.android.maps" />

		 <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


	 <!-- Maps API needs OpenGL ES 2.0. -->
	  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true"/>
    
	  <!-- End of copy. -->
	<permission
        android:name="com.flowzr.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="com.flowzr.permission.MAPS_RECEIVE"/>

                <!-- debug key 
                 <meta-data android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBPLy-r6DHS23XJ2spttuFpkpMPJBlYzg0"/>      
                 -->
                <!-- release key -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                    android:value="AIzaSyBD06B06eal5OrFtJwi58Zqsg_wsRq8jpo"/>
					        		

		<receiver android:name=".activity.AccountWidget" android:label="@string/widget_2x1" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.flowzr.UPDATE_WIDGET" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x1" />
		</receiver>

        <receiver android:name=".activity.AccountWidget3x1" android:label="@string/widget_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.flowzr.UPDATE_WIDGET" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_3x1" />
        </receiver>

        <receiver android:name=".activity.AccountWidget4x1" android:label="@string/widget_4x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.flowzr.UPDATE_WIDGET" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x1" />
        </receiver>

		<receiver android:name="com.flowzr.activity.ScheduledAlarmReceiver">
		    <intent-filter>
		        <action android:name="com.flowzr.SCHEDULED_ALARM" />
                <action android:name="com.flowzr.SCHEDULED_BACKUP" />
                <action android:name="com.flowzr.SCHEDULED_SYNC" />
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
  		</receiver>		

        <receiver
            android:name=".export.flowzr.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.flowzr" />
            </intent-filter>
        </receiver>
        <service android:name=".export.flowzr.GCMIntentService" />

		
		<receiver android:name=".activity.PackageReplaceReceiver">
			<intent-filter>
			    <action android:name="android.intent.action.PACKAGE_REPLACED" />
			    <data android:scheme="package" android:path="com.flowzr" />
			</intent-filter>
  		</receiver>		

		<service android:name=".service.FinancistoService">
            <intent-filter>
                <action android:name="com.flowzr.SCHEDULE_ONE" />
                <action android:name="com.flowzr.SCHEDULE_ALL" />
                <action android:name="com.flowzr.ACTION_SCHEDULE_AUTO_BACKUP" />
                <action android:name="com.flowzr.ACTION_AUTO_BACKUP" />
                <action android:name="com.flowzr.ACTION_SCHEDULE_AUTO_SYNC" />
                <action android:name="com.flowzr.ACTION_AUTO_SYNC" />                                
            </intent-filter>
		</service>

		<activity android:name=".activity.MainActivity" android:label="@string/app_name"
			android:taskAffinity=".MainActivity" uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		</activity>
		
		<activity 
			android:name=".activity.TransactionActivity" android:label="@string/transaction"
			android:configChanges="orientation|keyboardHidden|screenSize" 
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
			android:taskAffinity=".TransactionActivity" uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="com.flowzr.NEW_TRANSACTION" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

        <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />

		</activity>
		
		<activity 
			android:name=".activity.TransferActivity" android:label="@string/transfer"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize" 
			android:taskAffinity=".TransferActivity" uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="com.flowzr.NEW_TRANSFER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />						
		</activity>

		<activity android:name=".activity.PinActivity" android:label="@string/enter_pin"
			android:launchMode="singleTop"/>

		<activity android:name=".activity.BlotterActivity" android:label="@string/blotter"  android:value="splitActionBarWhenNarrow">
			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		</activity>

        <activity android:name=".activity.PlannerActivity" android:label="@string/planner" android:value="splitActionBarWhenNarrow">
   			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />     
        </activity>

        <activity android:name=".activity.MassOpActivity" android:label="@string/mass_operations" android:value="splitActionBarWhenNarrow">
       			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />              
        </activity>
				
		<activity android:name=".activity.LocationActivity" android:label="@string/location"/>

        <activity android:name=".activity.ExchangeRateActivity" android:label="@string/exchange_rate"
                  android:configChanges="orientation|keyboardHidden|screenSize" uiOptions="splitActionBarWhenNarrow">
                  <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
        </activity>
		
				<activity android:name=".activity.RecurrenceActivity" android:label="@string/recur"		 
		 				android:configChanges="orientation|keyboardHidden" uiOptions="splitActionBarWhenNarrow">
                  <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
                </activity>

				<activity android:name=".activity.RecurActivity" android:label="@string/recur"		 
		 android:configChanges="orientation|keyboardHidden" uiOptions="splitActionBarWhenNarrow">
                  <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />		 
		 		</activity>
		 
		<activity android:name=".activity.NotificationOptionsActivity" android:label="@string/notification"		 
			 android:configChanges="orientation|keyboardHidden" uiOptions="splitActionBarWhenNarrow">
                  <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />			 
		 </activity>
		
		<activity android:name=".activity.AccountActivity" android:label="@string/account"
			android:configChanges="orientation|keyboardHidden|screenSize" uiOptions="splitActionBarWhenNarrow">
				       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		</activity>

		
		<activity android:name=".activity.ReportActivity" android:label="@string/report"
			android:configChanges="orientation|keyboardHidden|screenSize"/>

		<activity android:name=".activity.CurrencyActivity" android:label="@string/currency"
                  android:configChanges="orientation|keyboardHidden|screenSize" uiOptions="splitActionBarWhenNarrow">
             <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
        </activity>
		
		<activity android:name=".activity.AttributeActivity" android:label="@string/attribute" uiOptions="splitActionBarWhenNarrow"
			android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize">
             <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		</activity>
		
		<activity android:name=".activity.DateFilterActivity" android:label="@string/filter" uiOptions="splitActionBarWhenNarrow"
			android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize">
             <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />			
		</activity>
		
		<activity android:name=".activity.BlotterFilterActivity" android:label="@string/filter" uiOptions="splitActionBarWhenNarrow"
			android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize">
				       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
			</activity>

        <activity android:name=".activity.ReportFilterActivity" android:label="@string/filter" uiOptions="splitActionBarWhenNarrow"
                  android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize">
				       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
        </activity>

		<activity android:name=".activity.CategoryActivity" android:label="@string/category"
			android:configChanges="orientation|keyboardHidden|screenSize" uiOptions="splitActionBarWhenNarrow">
				       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		</activity>
		
		<activity android:name=".widget.QuickAmountInput"
			android:label="@string/amount" android:theme="@style/FinancistoDialog"/>
		
		<activity android:name=".widget.CalculatorInput"
			android:label="@string/calculator" android:theme="@style/FinancistoDialog"/>
		
		<activity android:name=".activity.BudgetActivity" android:label="@string/budgets"
			android:configChanges="orientation|keyboardHidden|screenSize" android:value="splitActionBarWhenNarrow" >
			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />  			
		</activity>		
		
		<activity android:name=".activity.PreferencesActivity" android:label="@string/preferences" />
						
		<activity android:name=".activity.ProjectActivity" android:label="@string/project" android:value="splitActionBarWhenNarrow"
			android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize">
			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />  
		</activity>
				
        <activity android:name=".activity.PayeeActivity" android:label="@string/payee" android:value="splitActionBarWhenNarrow"
            android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize">
			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" /> 
        </activity>
			

		<activity android:name=".activity.CsvExportActivity" android:label="@string/csv_export" />
        <activity android:name=".activity.CsvImportActivity" android:label="@string/csv_import" />

        <activity android:name=".activity.QifExportActivity" android:label="@string/qif_export"/>
        <activity android:name=".activity.QifImportActivity" android:label="@string/qif_import"/>

		<activity android:name=".activity.MonthlyViewActivity" android:label="@string/monthly_view"/>
		<activity android:name=".activity.CCardStatementClosingDayActivity" android:label="@string/closing_day" />
		
		<activity 	android:name=".activity.Report2DChartActivity" 
					android:label="@string/report" uiOptions="splitActionBarWhenNarrow">
			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />    		
		</activity>
		
		<activity android:name=".activity.ReportPreferencesActivity" android:label="@string/report_preferences"/>
        <activity android:name=".activity.AboutActivity" android:label="@string/about"/>
        <activity android:name=".activity.WebViewActivity" android:label="@string/about"/>

        <activity android:name=".activity.SplitTransactionActivity" 
        			android:label="@string/split_transaction" uiOptions="splitActionBarWhenNarrow">
			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" /> 
        </activity>
        <activity android:name=".activity.SplitTransferActivity" 
        			android:label="@string/split_transfer" uiOptions="splitActionBarWhenNarrow">
        			       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" /> 
        </activity>

        <activity android:name=".dialog.FolderBrowser" android:label="@string/select_folder"/>
        <activity android:name=".activity.CategorySelectorActivity" 
        			uiOptions="splitActionBarWhenNarrow" android:label="@string/select_category">
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />            
        </activity>

        <activity android:name=".activity.AccountListTotalsDetailsActivity" android:label="@string/totals" uiOptions="splitActionBarWhenNarrow"
                  android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize" android:parentActivityName=".MainActivity">
		    <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />	       
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />                  
        </activity>

        <activity android:name=".activity.BlotterTotalsDetailsActivity" android:label="@string/totals" uiOptions="splitActionBarWhenNarrow"
                  android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize" android:parentActivityName=".MainActivity">
		    <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />                   
        </activity>

        <activity android:name=".activity.BudgetListTotalsDetailsActivity" android:label="@string/totals" uiOptions="splitActionBarWhenNarrow"
                  android:theme="@style/FinancistoDialog" android:configChanges="orientation|keyboardHidden|screenSize" android:parentActivityName=".MainActivity">
		    <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" /> 
        </activity>

        <activity android:name=".activity.PurgeAccountActivity" android:label="@string/delete_old_transactions"/>

        <activity android:name=".activity.FlowzrSyncActivity" android:label="@string/flowzr_sync" 
        android:configChanges="keyboardHidden|orientation|screenLayout" android:launchMode="singleTop" uiOptions="splitActionBarWhenNarrow">
        	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity android:name=".activity.FlowzrPreferencesActivity" android:label="@string/preferences"/>
        <activity android:name=".activity.BackupPreferencesActivity" android:label="@string/preferences"/>

        <activity android:name="org.achartengine.GraphicalActivity"/>

        <activity android:name="com.dropbox.client2.android.AuthActivity"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-n4li1bbi9l4rn49" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity android:name=".activity.BackupListActivity" 
			android:label="@string/backup" 			
			android:theme="@style/Theme.Financisto"
			android:parentActivityName=".MainActivity" uiOptions="splitActionBarWhenNarrow">
		    <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />				
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		</activity>

		<activity android:name=".activity.EntityListActivity" android:configChanges="keyboardHidden|screenSize"
			android:label="@string/entities" uiOptions="splitActionBarWhenNarrow"		
			android:theme="@style/Theme.Financisto">			
	       <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
		    <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.flowzr.MainActivity" />			
		</activity>		

	</application>

</manifest> 
